body
{
    width: 1190px;
    margin: 0 auto;
    direction: rtl;
}
.top-right-column
{
    width: 290px;
    height: 100px;
    background-color: #00827c;
}
.top-left-column
{
    width: 900px;
    height: 100px;
    background-color: #2191cb;
}
.right
{
    float: right;
}

/*header*/


.top-left-column .kal .slider-item
{
    width: 800px;
    height: 200px;
    background-color: #2191cb;
}
.top-left-column .kal .slider-btn
{

}