{% load thumbnail %}
<!DOCTYPE html>
<html dir="ltr" lang="fa-ir">
<head>

    <title>{% block title %}{{ title|default:"منظوم | ‌مرجع سینما و تلویزیون ایران" }}{% endblock %}</title>


    {% block meta %}
    {% endblock %}

    <link rel="shortcut icon" href="/static/images/favicon.ico">

    {% block og_image %}
        <meta property="og:image" content="/static/images/favicon.ico">
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="user-scalable = yes">


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="/static/css/base.css?v={{ SITE_VERSION }}"/>
    {% endblock %}

    {% block JS %}
        <script type="text/javascript" src="/static/jquery/jquery-1.11.2.min.js"></script>

        <script>
            var django = {jQuery: jQuery};
            var is_auth = {{ user.is_authenticated|yesno:"true,false" }};
{#            var checkUrl = '{% url "check" %}';#}
{#            var checkSignupUrl = '{% url "check_signup" %}';#}
{#            var forgetUrl = '{% url "forget" %}';#}
{#            var favUrl = '{% url "fav_ajax" %}';#}
{#            var searchUrl = '{% url "search_sug" %}';#}
{#            var sendConfirmEmailUrl = '{% url "send_confirm_link" %}';#}
        </script>

        <script type="text/javascript" src="/static/js/base.js?v={{ SITE_VERSION }}c"></script>
    {% endblock %}


</head>

<body class="main_container">


<header id="header">
    <div class="header-line">

    </div>
    <div class="header-box">
        <div class="mrg-center main-width">
            <div class="right header-items">
                <div class="header-item right">
                    <div class="consool-img "></div>
                </div>
                <div class="header-item right">
                    <div class="pc-img">

                    </div>
                </div>
                <div class="header-item right">
                    <div class="android-img"></div>
                </div>

            </div>
            <div class="right search">
                <input class="right" id="search-text" placeholder="در میان هنرمندان،  و مجموعه‌ها جست‌وجو کنید "
                       value="">

                <div class="left search-btn">
                    <div class="search-btn-img"></div>
                </div>
            </div>
            <div class="left logo">
                <img src="/static/images/logo.png" width="196" height="70">
            </div>

        </div>

    </div>

</header>

<article id="content">

    {% block content %}
    {% endblock %}
</article>



<footer id="footer">
    <div class="footer-box-top">
        <div class="copywrite">
            استفاده از مطالب سایت کل کل مگزین فقط برای مقاصد غیر تجاری و با ذکر منبع بلامانع است.کلیه حقوق این سایت به
            شرکت پردازش رایانه کرمان تعلق دارد.
        </div>
    </div>
    <div class="footer-box-bottom">
        <div class="footer-bottom-items">
            <div class="right footer-bottom-right">
                <div class="newsletters-text">
                    در خبرنامه عضو شوید ...
                </div>
                <div class="newsletters-box">

                    <input class="right" id="" placeholder="
ایمیل خود را وارد کنید" value="">

                    <div class="left newsletters-btn">
                        تایید ایمیل
                    </div>

                </div>
            </div>
            <div class="right footer-bottom-middle">
                <div class="contactus-btn">
                    ارتباط با ما
                </div>
                <div class="propaganda-btn">
                    تبلیغات در کَل کَل نیوز
                </div>
            </div>
            <div class="right footer-bottom-left">
                <div class="social-text">
                    شبکه های اجتماعی
                </div>
                <hr class="social-line">
                <div class="social-items">
                    <div class="right social-facebook"></div>
                    <div class="right social-youtube"></div>
                    <div class="right social-android"></div>
                    <div class="right social-instagram"></div>
                    <div class="right social-googleplus"></div>
                    <div class="right social-twitter"></div>


                </div>
            </div>
        </div>
    </div>


</footer>

</body>

</html>