{% extends 'base.html' %}

{% block content %}
    <div class="main-width mrg-center main">

        <div class="right main-right-Column">
            <div class="right-top-slider">

                <div style="width: 15px;height: 15px;border-radius: 50%;border: 2px solid black;"></div>
                <div style="width: 15px;height: 15px;border-radius: 50%;border: 2px solid black"></div>

            </div>
        </div>
        <div class="right main-Middle-Column">
            <div class="middle-top-box"></div>

        </div>
        <div class="right main-left-Column">
            <div class="left-top-slider"></div>
            <div class="left-top-box"></div>
        </div>

    </div>
{% endblock %}