{% extends 'base.html' %}

{% block content %}
    <div class="main-width mrg-center main">

        <div class="right slider-right-Column">
            <div class="right-top-slider relative">
                <img src="/static/images/1.jpg" width="100%" height="100%">
                <img src="/static/images/2.png" width="100%" height="100%">
                <img src="/static/images/3.jpg" width="100%" height="100%">
                <img src="/static/images/4.jpg" width="100%" height="100%">
                <img src="/static/images/5.jpg" width="100%" height="100%">

                <div class="right-slider-btn absolute">
                    <div class="right"></div>
                    <div class="right"></div>
                    <div class="right"></div>
                    <div class="right"></div>
                    <div class="right"></div>


                </div>
            </div>


        </div>

        <div class="right main-left-Column">
            <div class="left-login-box">
                <div class="login-box-text">
                    <div>
                        ورود
                    </div>
                </div>
                <div class="display field1">
                    <div class="right username-field">
                        <input type="text" name="FirstName" class="" style="direction: rtl;" placeholder="نام کاربری">
                    </div>
                    <div class="right username-icon"></div>
                </div>
                <div class="display field2">
                    <div class="right username-field">
                        <input type="text" name="FirstName" class="" style="direction: rtl;" placeholder="پسورد">
                    </div>
                    <div class="right username-icon"></div>
                </div>
                <div class="display">
                <div class="right">
                    <div class="checkmark">
                        <div class="right checkmark-field"></div>
                        <div class="right checkmark-text">
                            من را به یاد بسپار
                        </div>

                    </div>
                    <div class="forget">
                        <span>
                            رمز عبور
                        </span>
                        خود را فراموش کردم
                    </div>

                </div>
                <div class="right login-btn">
                    ورود
                </div>
                    </div>

<div class="register-btn">
    ثبت نام
</div>

            </div>
        </div>
        <div class="right main-right-Column">
            <div class="news-box">
                <div class="header">
                    <div class="right header-text">
                        کامپیوتر
                    </div>
                    <hr class="left">
                </div>
                <div class="top-box mrg-center">
                    <div class="right info-part">
                        <div class="info-title">
                            سیستم مورد نیاز HITMAN
                            اعلام شد
                        </div>
                        <hr>
                        <div class="info-main">
                            حظاتی قبل استدیو Io-Interactive
                            سیستم مورد نیاز عنوان Hitman
                            را بر روی صفحه رسمی این بازی
                            در شبکه استیم قرار داد.
                            Hitman مارس 2016 عرضه خواهد
                            شد،
                        </div>
                    </div>
                    <div class="left img-part">
                        <img src="/static/images/2.png" width="100%"
                             height="100%">
                    </div>
                </div>
                <div class="items-box mrg-center">
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/3.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/3.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/3.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/3.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/3.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/3.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-box">
                <div class="header">
                    <div class="right header-text">
                        اندروید
                    </div>
                    <hr class="left">
                </div>
                <div class="top-box mrg-center">
                    <div class="right info-part">
                        <div class="info-title">
                            سیستم مورد نیاز HITMAN
                            اعلام شد
                        </div>
                        <hr>
                        <div class="info-main">
                            حظاتی قبل استدیو Io-Interactive
                            سیستم مورد نیاز عنوان Hitman
                            را بر روی صفحه رسمی این بازی
                            در شبکه استیم قرار داد.
                            Hitman مارس 2016 عرضه خواهد
                            شد،
                        </div>
                    </div>
                    <div class="left img-part">
                        <img src="/static/images/4.jpg" width="100%"
                             height="100%">
                    </div>
                </div>
                <div class="items-box mrg-center">
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/4.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/4.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/4.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/4.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/4.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/4.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                </div>
            </div>

            <div class="news-box">
                <div class="header">
                    <div class="right header-text">
                        کنسول
                    </div>
                    <hr class="left">
                </div>
                <div class="top-box mrg-center">
                    <div class="right info-part">
                        <div class="info-title">
                            سیستم مورد نیاز HITMAN
                            اعلام شد
                        </div>
                        <hr>
                        <div class="info-main">
                            حظاتی قبل استدیو Io-Interactive
                            سیستم مورد نیاز عنوان Hitman
                            را بر روی صفحه رسمی این بازی
                            در شبکه استیم قرار داد.
                            Hitman مارس 2016 عرضه خواهد
                            شد،
                        </div>
                    </div>
                    <div class="left img-part">
                        <img src="/static/images/5.jpg" width="100%"
                             height="100%">
                    </div>
                </div>
                <div class="items-box mrg-center">
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/5.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/5.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/5.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/5.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/5.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                    <div class="news-item right">
                        <div class="img-item right">
                            <img src="/static/images/5.jpg" width="100%" height="100%" class="">
                        </div>
                        <div class="text-item right">
                            بازی نامه: مترو
                            2033 "قسمت اول"

                        </div>
                    </div>
                </div>
            </div>
            <div class="news-box">
                <div class="header">
                    <div class="right header-text">
                        اخبار انتشار
                    </div>
                    <hr class="left">
                </div>
                <div class="top-box mrg-center">
                    <div class="right info-part">
                        <div class="info-title">
                            سیستم مورد نیاز HITMAN
                            اعلام شد
                        </div>
                        <hr>
                        <div class="info-main">
                            حظاتی قبل استدیو Io-Interactive
                            سیستم مورد نیاز عنوان Hitman
                            را بر روی صفحه رسمی این بازی
                            در شبکه استیم قرار داد.
                            Hitman مارس 2016 عرضه خواهد
                            شد،
                        </div>
                    </div>
                    <div class="left img-part">
                        <img src="/static/images/5.jpg" width="100%"
                             height="100%">
                    </div>
                </div>
                <div class="release mrg-center">

                    <div class="news-item relative right">
                        <img src="/static/images/1.jpg" width="100%" height="100%" class="news-item-img">

                        <div class="news-item-text absolute">
                            تاریخ انتشار :
                            <span>
                                2016
                            </span>
                        </div>
                    </div>
                    <div class="news-item relative left">
                        <img src="/static/images/1.jpg" width="100%" height="100%" class="news-item-img">

                        <div class="news-item-text absolute">
                            تاریخ انتشار :
                            <span>
                                2016
                            </span>
                        </div>
                    </div>
                    <div class="news-item relative right">
                        <img src="/static/images/1.jpg" width="100%" height="100%" class="news-item-img">

                        <div class="news-item-text absolute">
                            تاریخ انتشار :
                            <span>
                                2016
                            </span>
                        </div>
                    </div>
                    <div class="news-item relative left">
                        <img src="/static/images/1.jpg" width="100%" height="100%" class="news-item-img">

                        <div class="news-item-text absolute">
                            تاریخ انتشار :
                            <span>
                                2016
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="right main-middle-Column">
            <div class="last-news">
                <div class="header">
                    <div class="right header-text">
                        آخرین اخبار
                    </div>
                    <hr class="left">
                </div>
                <div class="last-news-items">
                    <div class="last-news-img">
                        <img src="../static/images/2.png" width="100%" height="100%">

                    </div>
                    <div class="last-news-text">
                        افرادی که دارای نسخه اصلی بازی میباشندبه روز رسانی رایگان دریافت میکنند.
                    </div>
                </div>
                <hr class="last-news-line">
                <div class="last-news-items">
                    <div class="last-news-img">
                        <img src="../static/images/2.png" width="100%" height="100%">

                    </div>
                    <div class="last-news-text">
                        افرادی که دارای نسخه اصلی بازی میباشندبه روز رسانی رایگان دریافت میکنند.
                    </div>
                </div>
                <hr class="last-news-line">
                <div class="last-news-items">
                    <div class="last-news-img">
                        <img src="../static/images/2.png" width="100%" height="100%">

                    </div>
                    <div class="last-news-text">
                        افرادی که دارای نسخه اصلی بازی میباشندبه روز رسانی رایگان دریافت میکنند.
                    </div>
                </div>


            </div>
            <div class="advertising"></div>
            <div class="advertising"></div>
            <div class="hot-news">
                <div class="header">
                    <div class=" right header-text">
                        داغ ترین اخبار
                    </div>
                    <hr class="left">
                </div>
                <div class="hot-news-items">
                    <div class="hot-news-img">
                        <img src="../static/images/1.jpg" width="100%" height="100%">
                    </div>
                    <div class="hot-news-text">
                        افرادی که دارای نسخه اصلی بازی میباشندبه روز رسانی رایگان دریافت میکنند.
                        افرادی که دارای نسخه اصلی بازی میباشندبه روز رسانی رایگان دریافت میکنند.

                    </div>
                </div>
                <hr class="hot-news-line">
                <div class="hot-news-items">
                    <div class="hot-news-img">
                        <img src="../static/images/1.jpg" width="100%" height="100%">
                    </div>
                    <div class="hot-news-text">
                        افرادی که دارای نسخه اصلی بازی میباشندبه روز رسانی رایگان دریافت میکنند.
                        افرادی که دارای نسخه اصلی بازی میباشندبه روز رسانی رایگان دریافت میکنند.

                    </div>
                </div>
                <hr class="hot-news-line">
                <div class="hot-news-items">
                    <div class="hot-news-img">
                        <img src="../static/images/1.jpg" width="100%" height="100%">
                    </div>
                    <div class="hot-news-text">
                        افرادی که دارای نسخه اصلی بازی میباشندبه روز رسانی رایگان دریافت میکنند.
                        افرادی که دارای نسخه اصلی بازی میباشندبه روز رسانی رایگان دریافت میکنند.

                    </div>
                </div>


            </div>
            <div class="advertising"></div>
            <div class="advertising"></div>
            <div class="advertising"></div>


        </div>

        <div class="right main-left-Column">
            <div class="left-column-box">
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #EC155B"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #EC155B"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #EC155B"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #EC155B"></div>


            </div>
        </div>

    </div>
{% endblock %}