<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
<header>
    <div class="right right-column"></div>
    <div class="right middle-column"></div>
    <div class="right left-column"></div>


</header>
<div class="top-right-column right"></div>
<div class="top-left-column right">
    <div class="kal">

        <div class="slider-item"></div>
        <div class="slider-btn"></div>
    </div>
</div>
</body>
</html>