{% extends 'base.html' %}

{% block content %}
    <div class="main-width mrg-center main">
        <div class="right news-main-box">
            <div class="info-news">
                <div class="info-news-text">
                    بازی مترو منتشر شد
                </div>
                <div class="info-news-img">
                    <img src="../static/images/2.png" width="100%" height="100%">
                </div>
                <div class="bottom-info">
                    <div class="right right-info">
                        نویسنده این خبر:
            <span>
                محمد صالح یاشیخ اکبری
            </span>
                    </div>
                    <div class="right middle-info">
                        <span>
                            24 مهر 1396
                        </span>
                        -
                        <span>
                            22:45
                        </span>
                    </div>
                    <div class="left-info right">
                        تعداد مشاهده این خبر :
                        <span>
                            9935
                        </span>
                    </div>
                </div>
            </div>
            <div class="main-news">
                <div class="lid">
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                </div>
                <div class="description">
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                    بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی
                    مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو
                    منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر
                    شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد بازی مترو منتشر شد
                </div>
                <div class="source display">
                    <div class="right source-text">
                        منبع :
                    </div>
                    <div class="right source-items display">
                        <div class=" right source-item">

                            گیم فا
                        </div>
                        <div class=" right source-item">

                            گیم فا
                        </div>
                        <div class=" right source-item">

                            گیم فا
                        </div>
                        <div class=" right source-item">

                            گیم فا
                        </div>
                        <div class=" right source-item">

                            گیم فا
                        </div>
                        <div class=" right source-item">

                            گیم فا
                        </div>
                        <div class=" right source-item">

                            گیم فا
                        </div>
                        <div class=" right source-item">

                            گیم فا
                        </div>
                        <div class=" right source-item">

                            گیم فا
                        </div>
                        <div class=" right source-item">

                            گیم فا
                        </div>
                        <div class=" right source-item">

                            گیم فا
                        </div>
                        <div class=" right source-item">

                            گیم فا
                        </div>


                    </div>

                </div>
                <div class="label display">
                    <div class="right label-text">
                        بر چسب :
                    </div>
                    <div class="right label-items display">
                        <div class=" right label-item">

                            گیم فا
                        </div>


                    </div>

                </div>

            </div>
            <div class="galery display">
                <div class="galery-text">
                    گالری
                </div>
                <div class="galery-items display">
                    <div class="items">
                        <div class="galery-item ">
                            <img src="/static/images/4.jpg" width="174" height="100">
                        </div>
                        <div class="galery-item ">
                            <img src="/static/images/4.jpg" width="174" height="100">
                        </div>
                        <div class="galery-item ">
                            <img src="/static/images/4.jpg" width="174" height="100">
                        </div>
                        <div class="galery-item ">
                            <img src="/static/images/4.jpg" width="174" height="100">
                        </div>
                        <div class="galery-item ">
                            <img src="/static/images/4.jpg" width="174" height="100">
                        </div>
                        <div class="galery-item ">
                            <img src="/static/images/4.jpg" width="174" height="100">
                        </div>
                        <div class="galery-item ">
                            <img src="/static/images/4.jpg" width="174" height="100">
                        </div>
                        <div class="galery-item ">
                            <img src="/static/images/4.jpg" width="174" height="100">
                        </div>


                    </div>

                </div>
            </div>
            <div class="trailer">
                <div class="trailer-icon"></div>
            </div>
            <div class="linked-items">
                <div class="header">
                    <div class="right header-text">
                        مطالب مرتبط
                    </div>
                    <hr class="left">
                </div>
                <div class="display ">
                    <div class="linked-item right ">
                        <div class="linked-item-img">
                            <img src="/static/images/1.jpg" width="160" height="140">
                        </div>
                        <div class="linked-item-text">
                            تاریخ انتشار fifa17 مشخص شد
                        </div>

                    </div>
                    <div class="linked-item right ">
                        <div class="linked-item-img">
                            <img src="/static/images/1.jpg" width="160" height="140">
                        </div>
                        <div class="linked-item-text">
                            تاریخ انتشار fifa17 مشخص شد
                        </div>

                    </div>
                    <div class="linked-item right ">
                        <div class="linked-item-img">
                            <img src="/static/images/1.jpg" width="160" height="140">
                        </div>
                        <div class="linked-item-text">
                            تاریخ انتشار fifa17 مشخص شد
                        </div>

                    </div>
                    <div class="linked-item right ">
                        <div class="linked-item-img">
                            <img src="/static/images/1.jpg" width="160" height="140">
                        </div>
                        <div class="linked-item-text">
                            تاریخ انتشار fifa17 مشخص شد
                        </div>

                    </div>


                </div>
            </div>
            <div class="comments-box">
                <div class="com-item relative display">

                    <div class="com-item-header">
                        <div class="time right">
                            <span>
                                24 مهر 1396 -
                            </span>
                            <span>
 22:45
                            </span>
                        </div>
                        <div class="dislike left">
                            <div class="dislike-img left"></div>
                            <span class="left">
                            -225
                            </span>
                        </div>
                        <div class="like left">
                            <div class="like-img left"></div>
                            <span class="left">
                                +555
                            </span>
                        </div>
                    </div>
                    <div class="right-side display right">
                        <div class="user-img">

                        </div>
                        <div class="replay-btn">
                            پاسخ به این نظر
                        </div>
                    </div>
                    <div class="text right">
                        با سلامبا سلام و عرض خسته نباشید خبر خیلی خوبی بود و امید وار کننده
                        و عربا سلام و عرض خسته نباشید خبر خیلی خوبی بود و امید وار کنندهض خسته نباشید
                        خبر خیلی خوبی بود و امید وار کننده
                        ض خسته نباشید خبر خیلی خوبی بود و امید وار کننده و عربا سلام و عرض خسته نباشید خبر
                        خیلی خوبی بود و امید وار کننده
                        با سلام و عرض خسته نباشید خبر خیلی خوبی بود و امید وار کنندهبا سلام و عرض
                        خسته نباشید خبر خیلی خوبی بود و امید وار کننده
                        با سلامبا سلام و عرض خسته نباشید خبر خیلی خوبی بود و امید وار کننده


                    </div>
                </div>
                <div class="com-item relative  display">
                    <div class="com-item-header">
                        <div class="time right">
                            <span>
                                24 مهر 1396 -
                            </span>
                            <span>
 22:45
                            </span>
                        </div>
                        <div class="dislike left">
                            <div class="dislike-img left"></div>
                            <span class="left">
                            -225
                            </span>
                        </div>
                        <div class="like left">
                            <div class="like-img left"></div>
                            <span class="left">
                                +555
                            </span>
                        </div>
                    </div>
                    <div class="right-side display right">
                        <div class="user-img">

                        </div>
                        <div class="replay-btn">
                            پاسخ به این نظر
                        </div>
                    </div>
                    <div class="text right">
                        با سلامبا سلام و عرض خسته نباشید خبر خیلی خوبی بود و امید وار کننده
                        و عربا سلام و عرض خسته نباشید خبر خیلی خوبی بود و امید وار کنندهض خسته نباشید
                        خبر خیلی خوبی بود و امید وار کننده
                        ض خسته نباشید خبر خیلی خوبی بود و امید وار کننده و عربا سلام و عرض خسته نباشید خبر
                        خیلی خوبی بود و امید وار کننده
                        با سلام و عرض خسته نباشید خبر خیلی خوبی بود و امید وار کنندهبا سلام و عرض
                        خسته نباشید خبر خیلی خوبی بود و امید وار کننده
                        با سلامبا سلام و عرض خسته نباشید خبر خیلی خوبی بود و امید وار کننده


                    </div>
                    <div class="com-item replay-item display">
                        <div class="com-item-header">
                            <div class="time right">
                            <span>
                                24 مهر 1396 -
                            </span>
                            <span>
 22:45
                            </span>
                            </div>
                            <div class="dislike left">
                                <div class="dislike-img left"></div>
                            <span class="left">
                            -225
                            </span>
                            </div>
                            <div class="like left">
                                <div class="like-img left"></div>
                            <span class="left">
                                +555
                            </span>
                            </div>
                        </div>
                        <div class="right-side display right">
                            <div class="user-img">

                            </div>
                            <div class="replay-btn">
                                پاسخ به این نظر
                            </div>
                        </div>
                        <div class="text right">
                            با سلامبا سلام و عرض خسته نباشید خبر خیلی خوبی بود و امید وار کننده
                            و عربا سلام و عرض خسته نباشید خبر خیلی خوبی بود و امید وار کنندهض خسته نباشید
                            خبر خیلی خوبی بود و امید وار کننده
                            ض خسته نباشید خبر خیلی خوبی بود و امید وار کننده و عربا سلام و عرض خسته نباشید خبر
                            خیلی خوبی بود و امید وار کننده
                            با سلام و عرض خسته نباشید خبر خیلی خوبی بود و امید وار کنندهبا سلام و عرض
                            خسته نباشید خبر خیلی خوبی بود و امید وار کننده
                            با سلامبا سلام و عرض خسته نباشید خبر خیلی خوبی بود و امید وار کننده


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right main-left-Column">
            <div class="last-news">
                <div class="header">
                    آخرین اخبار
                </div>
                <div class="news-main">
                    <div class="item">
                        <div class="item-img right">
                            <img class="right" src="/static/images/5.jpg" width="135" height="85">
                        </div>
                        <div class="text right">
                            ریثقلبقثلبرثقب قثلثقلبثقبل ثقلثقلبثقل ثقلثلثق
                        </div>

                    </div>
                    <div class="item">
                        <div class="item-img right">
                            <img class="right" src="/static/images/5.jpg" width="135" height="85">
                        </div>
                        <div class="text right">
                            ریثقلبقثلبرثقب قثلثقلبثقبل ثقلثقلبثقل ثقلثلثق
                        </div>

                    </div>
                    <div class="item">
                        <div class="item-img right">
                            <img class="right" src="/static/images/5.jpg" width="135" height="85">
                        </div>
                        <div class="text right">
                            ریثقلبقثلبرثقب قثلثقلبثقبل ثقلثقلبثقل ثقلثلثق
                        </div>

                    </div>
                    <div class="item">
                        <div class="item-img right">
                            <img class="right" src="/static/images/5.jpg" width="135" height="85">
                        </div>
                        <div class="text right">
                            ریثقلبقثلبرثقب قثلثقلبثقبل ثقلثقلبثقل ثقلثلثق
                        </div>

                    </div>
                    <div class="item">
                        <div class="item-img right">
                            <img class="right" src="/static/images/5.jpg" width="135" height="85">
                        </div>
                        <div class="text right">
                            ریثقلبقثلبرثقب قثلثقلبثقبل ثقلثقلبثقل ثقلثلثق
                        </div>

                    </div>
                    <div class="item">
                        <div class="item-img right">
                            <img class="right" src="/static/images/5.jpg" width="135" height="85">
                        </div>
                        <div class="text right">
                            ریثقلبقثلبرثقب قثلثقلبثقبل ثقلثقلبثقل ثقلثلثق
                        </div>

                    </div>
                    <div class="item">
                        <div class="item-img right">
                            <img class="right" src="/static/images/5.jpg" width="135" height="85">
                        </div>
                        <div class="text right">
                            ریثقلبقثلبرثقب قثلثقلبثقبل ثقلثقلبثقل ثقلثلثق
                        </div>

                    </div>
                    <div class="item">
                        <div class="item-img right">
                            <img class="right" src="/static/images/5.jpg" width="135" height="85">
                        </div>
                        <div class="text right">
                            ریثقلبقثلبرثقب قثلثقلبثقبل ثقلثقلبثقل ثقلثلثق
                        </div>

                    </div>
                    <div class="item">
                        <div class="item-img right">
                            <img class="right" src="/static/images/5.jpg" width="135" height="85">
                        </div>
                        <div class="text right">
                            ریثقلبقثلبرثقب قثلثقلبثقبل ثقلثقلبثقل ثقلثلثق
                        </div>

                    </div>
                    <div class="item">
                        <div class="item-img right">
                            <img class="right" src="/static/images/5.jpg" width="135" height="85">
                        </div>
                        <div class="text right">
                            ریثقلبقثلبرثقب قثلثقلبثقبل ثقلثقلبثقل ثقلثلثق
                        </div>

                    </div>
                    <div class="more">
                        دیدن بیشتر
                    </div>
                </div>
            </div>
            <div class="left-column-box">

                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #EC155B"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #EC155B"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #EC155B"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #F5999E"></div>
                <div class="box1" style="background-color: #EC155B"></div>


            </div>
        </div>


    </div>
{% endblock %}